<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="net.gritfish.ktals" versionCode="10" version="1.0.0">
	<!-- versionCode is optional and Android only -->
	<name>Interactive Comic Engine</name>
	<description>An Interactive Comic Engine.</description>
	<author href="http://www.gritfish.net" email="john@gritfish.net">John Kane</author>
	<plugin name="cordova-plugin-globalization" source="npm" spec="1.0.1" />
	<preference name="phonegap-version" value="cli-6.5.0" />
</widget>